.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
yarn.lock

db/

# Do not upload Medias
srv/media/files/temp
srv/media/files/*
!srv/media/files/00000000-0000-0000-0000-00000000000.webp

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
