@media only screen and (min-width: 1904px) {
  .container:not(.container--fluid) {
    max-width: 1340px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.crud--table table tbody tr,
.cursor--pointer {
  cursor: pointer;
}


